body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.white{
  color: #333 !important;
  background-color: #fff !important;  
  border-color: #ccc !important;
}
.red{
  color: #fff !important;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}
.orange{
  color: #fff !important;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}
.black{
  color: #fff !important;
  background-color: #000 !important;
  border-color: #001 !important;
}
.green{
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.btn{
  width: 15em;
  line-height: 15em !important;
}